body{
    margin: 0px;
    align-items: center;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    justify-content: space-around;
    height: 250px;
    background-color: #0a1126 ;
    align-items: center;
}
.logo{
    height: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.contacto{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;    
    color: #ffffff;
}
.barra-nav{
    justify-content: space-around;
    height: 30px;
    background-color: #121F45;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 20px;
}
.barra-nav a{
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 30px;
    line-height: 1;
    text-decoration: none;
    border-radius: 5px;
}
.contacto a{
    color: #FFFFFF;
}
footer{
    background-color: #000000;
    color: #FFFFFF;
}